#navbarCss{
    position: fixed;
    width: 100%;
    z-index: 2;
}
#contentLeft{
    position: fixed;
    z-index: 1;
    margin-top: 45px;
}
#contentMiddle{
    position: relative;
    z-index: 1;
    margin-top: 45px;
}
#contentRight{
    position: relative;
    z-index: 1;
    margin-top: 45px;
}